<% if bank.locked_at.present? %>
<div class="alert alert-info">
  Sync currently in progress.
</div>
<% end %>
<div class="row px-3 pb-3">
  <div class="col">
    <h5 class="mb-0"><%= account.name %></h5>
    <small class="text-muted"><%= account.remote_id %></small>
  </div>
  <div class="col text-right">
    <h5 class="mb-0">
      <% if account.balance.amount < 0 %>
        <span class="badge badge-warning">OD</span>
        <%= account.balance.format.gsub('-', '') %>
      <% else %>
        <%= account.balance.format %>
      <% end %>
    </h5>
    <small class="text-muted">Available <%= account.available_balance.format %></small>
  </div>
</div>
<div class="table-responsive">
  <table class="table mb-0">
    <thead>
      <tr class="d-flex">
        <th scope="col" class="col-2">Date</th>
        <th scope="col" class="col-2">Type</th>
        <th scope="col" class="col-5">Details</th>
        <th scope="col" class="col-2 text-right"></th>
        <th scope="col" class="col-1"></th>
      </tr>
    </thead>
    <tbody>
    <% transactions.each do |transaction| %>
      <tr class="d-flex">
        <td class="col-2">
          <%= localize (transaction.occurred_at || transaction.posted_at).to_date, format: :default %>
        </td>
        <td class="col-2"><%= transaction.transaction_type %></td>
        <td class="col-5">
          <%= transaction.name %>
          <br><small class="text-muted"><%= transaction.memo %></small>
        </td>
        <% if transaction.amount >= 0 %>
          <td class="col-2 text-right text-success"><%= transaction.amount %></td>
        <% end %>
        <% if transaction.amount < 0 %>
          <td class="col-2 text-right text-danger"><%= transaction.amount %></td>
        <% end %>
        <td class="col-1 text-center">
          <% if transaction.posted_at %>
            <strong>&#10003;</strong>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="pt-4 border-top border-primary text-center">
  <div class="d-flex justify-content-center"><%= paginate transactions, theme: 'twitter-bootstrap-4' %></div>
  <div><%= page_entries_info transactions %></div>
</div>
