<div class="row py-3 border-bottom bank-account">
  <div class="col">
    <h5 class="mb-0"><%= link_to account.name, bank_account_path(account.bank, account) %></h5>
    <small class="text-muted"><%= account.remote_id %></small>
  </div>
  <div class="col text-right">
    <h5 class="mb-0">
      <% if account.balance.amount < 0 %>
        <span class="badge badge-warning">OD</span>
        <%= account.balance.format.gsub('-', '') %>
      <% else %>
        <%= account.balance.format %>
      <% end %>
    </h5>
    <small class="text-muted">Available <%= account.available_balance.format %></small>
  </div>
</div>
