
<% if bank.locked_at.present? %>
<div class="alert alert-info">
  Sync currently in progress.
</div>
<% end %>
<div class="m-0 px-3 pb-4 border-bottom border-primary d-flex align-items-center">
  <div class="flex-grow-1">
    <%= image_pack_tag("banks/#{bank.name.underscore}.png", style: 'height: 50px') %>
    <br>
    <small class="text-muted"><%= bank.username %></small>
  </div>
  <div>
    <%= link_to 'New Bank Connection', new_bank_path, class: 'btn btn-outline-secondary' %>
    <%= link_to 'Edit Bank Connection', edit_bank_path(bank), class: 'btn btn-secondary' %>
  </div>
</div>
<% if accounts.present? %>
  <% accounts.each do |account| %>
    <div class="container">
      <%= render partial: 'banks/accounts/account', locals: { account: account }  %>
    </div>
  <% end %>
  <div class="pt-4 border-top border-primary text-center">
    <div class="d-flex justify-content-center"><%= paginate accounts, theme: 'twitter-bootstrap-4' %></div>
    <div><%= page_entries_info accounts %></div>
  </div>
<% end %>
<% if accounts.empty? %>
  <div class="jumbotron mt-3">
    <h1 class="display-5">No Accounts Synced.</h1>
    <p class="lead">Looks like you don't have any accounts setup yet.</p>
    <hr class="my-4">
    <p>It may take up to ten minutes for My Bank to sync with <%= bank.name %> before they will show up here so please be patient!</p>
  </div>
<% end %>
