<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">My Bank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item<%= ' active' if request.path.starts_with?('/banks') %>">
        <%= link_to 'Banks', banks_path, class: 'nav-link' %>
      </li>
      <li class="nav-item<%= ' active' if request.path.starts_with?('/integrations') %>">
        <%= link_to 'Integrations', integrations_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
