<!DOCTYPE html>
<html>
  <head>
    <title>MyBank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'navigation' %>
    <section class="page">
      <%= render 'breadcrumbs' %>
      <div class="container">
        <%= render 'flash' %>
        <%= yield %>
      </div>
    </section>
    <%= render 'footer' %>
  </body>
</html>
