<!DOCTYPE html>
<html>
  <head>
    <title>MyBank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'navigation' %>
    <section class="page">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
          <%= render 'flash' %>
          <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <%= render 'footer' %>
  </body>
</html>
